@page "/add-subelement"
@using SalesOrderManager.Shared.Models;
@inject NavigationManager Navigator;
@inject HttpClient Http;


<div class="col-md-6 border rounded p-3">
    <p class="fw-bold">Add Subelement</p>
    <hr />
    <form>
        <div class="form-group mb-3">
            <label for="windowId">Window:</label>
            <select class="form-control" id="windowId" @bind="subElement.WindowId">
                <option value="">Select a Window</option>
                @foreach (var window in windows)
                {
                    <option value="@window.Id">@window.Name</option>
                }
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="element">Element:</label>
            <input type="number" class="form-control" id="element" @bind="subElement.Element" />
        </div>
        <div class="form-group mb-3">
            <label for="type">Type:</label>
            <input type="text" class="form-control" id="type" @bind="subElement.Type" />
        </div>
        <div class="form-group mb-3">
            <label for="width">Width:</label>
            <input type="number" class="form-control" id="width" @bind="subElement.Width" />
        </div>
        <div class="form-group mb-3">
            <label for="height">Height:</label>
            <input type="number" class="form-control" id="height" @bind="subElement.Height" />
        </div>
        <button type="button" class="btn btn-primary" @onclick="SaveSubelement">Save</button>
    </form>
</div>

@code {
    private SubElement subElement = new SubElement();
    private List<Window> windows = new List<Window>();

    protected override async Task OnInitializedAsync()
    {
        windows = await Http.GetFromJsonAsync<List<Window>>("api/window");
    }

    private async Task SaveSubelement()
    {
        var response = await Http.PostAsJsonAsync("api/subelement", subElement);
        response.EnsureSuccessStatusCode();
    }
}
