@page "/"

<PageTitle>Index</PageTitle>

<div class="container border rounded p-3">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Hello there!</h4>
        <p>Welcome to Sales Order Manager</p>
        <hr>
        <ul>
            <li>To create a new order go to the <span class="fw-bold">Add order</span> page</li>
            <li>Once you create a order, you will be redirected to edit order page and form there you can add windows/subelements</li>
            <li>To view/update existing order and it's windows/subelements go to the <span class="fw-bold">Order list</span>  page and then click on the <span class="fw-bold">Details</span> button</li>
        </ul>
    </div>
</div>