@page "/"

<PageTitle>Index</PageTitle>

<div class="container border rounded p-3">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Hello there!</h4>
        <p>Welcome to Sales Order Manager</p>
        <hr>
        <ul>
            <li>To create a new order go to add order page</li>
            <li>To create a new window go to add window page </li>
            <li>To create a new subelement go to add subelement page</li>
            <li>To view/update an order and it's windows/subelements go to order list page and then click on the details button</li>
        </ul>
    </div>
</div>